<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Meet Chris</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="static/css/home.css">
        <script src="https://kit.fontawesome.com/b31f370ec2.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <div id="header">
            <div class="container">
                <nav>
                    <a href="index.html"><img src="static/img/png/logo-no-background.png" class="logo"></a>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About Me</a></li>
                        <li><a href="">Projects</a></li>
                        <li><a href="">Projects</a></li>
                        <li><a href="">Contact Me</a></li>
                    </ul>                
                </nav>
                <div class="header-text">
                    <p>Data Scientist</p>
                    <h2>Name: <span>Chris</span> Yan <br> Location: <span>Oakville</span>, CAN</h2>
                    <div id="rotating-wrapper">
                        <div class="img-outside">
                            <img src="static/img/outside.png" class="outside"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        about       -->
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <img src="static/img/about-me.png" class="img-about-me">
                    </div>
                    <div class="about-col-2">
                        <h2 class="sub-title">About Me</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into 
                            electronic typesetting, remaining essentially unchanged. It was popularised in 
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including 
                            versions of Lorem Ipsum.
                        </p>

                        <div class="tab-titles">
                            <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                            <p class="tab-links" onclick="opentab('experience')">Experience</p>
                            <p class="tab-links" onclick="opentab('education')">Education</p>
                        </div>
                        <div class="tab-contents active-tab" id="skills">
                            <ul>
                                <li><span>Machine Learning</span><br>Development Of ML Models</li>
                                <li><span>Web Development</span><br>Web App Development</li>
                                <li><span>App Development</span><br>Developing Android Apps</li>
                                <li><span>UI/UX</span><br>Designing Web/App Interfaces</li>
                                <li><span>Data Analysis</span><br>Data Analysis Through Data Visualization</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="experience">
                            <ul>
                                <li><span>20XX - 20XX</span><br>Insert here</li>
                                <li><span>20XX - 20XX</span><br>Insert here</li>
                                <li><span>20XX - 20XX</span><br>Insert here</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="education">
                            <ul>
                                <li><span>2022 - Present<br><span>Bsc @ UofT</span></span><br>Machine Learning and Data Science Specialist</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        projects        -->
        <div id="projects">
            <div class="container">
                <h2 class="sub-title">My Projects</h2>
                <div class="projects-list">
                    <div>
                        <i class="fa-solid fa-code"></i>
                        <h2>Web Design</h2>
                        <p>Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy...</p>
                        <a href="#">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <h2>Data Analysis</h2>
                        <p>Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy...</p>
                        <a href="#">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-mobile"></i>
                        <h2>App Design</h2>
                        <p>Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy...</p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <!--        hobbies       -->
        <div id="hobbies">
            <div class="container">
                <h2 class="sub-title">My Hobbies</h2>
                <div class="hobbies-list">
                    <div class="hobbies">
                        <img src="static/img/hockey.png" class="img-hockey">
                        <div class="layer">
                            <h3>Ice Hockey</h3>
                            <p>Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy...</p>
                            <a href="https://www.eliteprospects.com/player/569280/chris-yan" target="_blank"><i class="fa-solid fa-hockey-puck"></i></a>
                        </div>
                    </div>
                    <div class="hobbies">
                        <img src="static/img/hockey.png" class="img-hockey">
                        <div class="layer">
                            <h3>Ice Hockey</h3>
                            <p>Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy...</p>
                            <a href="#"><i class="fa-solid fa-hockey-puck"></i></a>
                        </div>
                    </div>
                    <div class="hobbies">
                        <img src="static/img/hockey.png" class="img-hockey">
                        <div class="layer">
                            <h3>Ice Hockey</h3>
                            <p>Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy...</p>
                            <a href="#"><i class="fa-solid fa-hockey-puck"></i></a>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn">See more</a>
            </div>
        </div>



        <script src="static/js/home.js"></script>
    </body>
</html>